@page "/"
@page "/{Route}"
@rendermode InteractiveServer
@inject IContentMediator contentMediator

<PageTitle>@content.Title</PageTitle>

<h1>@content.Description</h1>

@content.Keywords

@code {

    [Parameter]
    public string? Route { get; set; }

    Page content = new Page();

    protected override async void OnInitialized()
    {
        if (Route == null)
        {
            Route = "home";
        }

        content = await contentMediator.GetContent(Route);
    }

}