@page "/"
@rendermode InteractiveServer

<PageTitle>@content.Title</PageTitle>

<h1>@content.Description</h1>

@content.Keywords

@code {

    Page content = new Page
    {
        Title = "Home",
        Description = "Welcome to your new app.",
        Keywords = "ASP.NET, web, app, .NET, Core"
    };

}